# Ignore everything
/*

# Keep this .gitignore itself
!/.gitignore

# Keep code and output folders and all their contents
!/code/
!/code/**

!/output/
!/output/**

!/output_joint/
!/output_joint/**

!/frontier_output/
!/frontier_output/**
